<div id="container" [@listAnimation]="items.length">

  <button (click)="pushItem()">Add item</button> 
  <button (click)="removeItem()">Remove item</button>
  <br>
  
 
   <button id="list" *ngFor="let item of items"> {{ item }}</button>

  <div @explainerAnim>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
    <div class="col">
      <p>I think Coursetro is one of the best learning resources online for Angular</p>
    </div>
  <div>
</div>
<!-- comment above code to see animation for below component -->

<app-animations></app-animations>